@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/colors';

body{
  text-align: center;
}

.work-queue {

  .failing-build {
    .list-group-item {
      background-color: #f08d8d
    }
  }

  .item-closed {
    .list-group-item {
      text-decoration: line-through;
      color: #919191
    }
  }

  .item-open {

  }

}